<!-- Product-Section-Strat  -->
	<section class="product_area section-padding">
		<div class="padding_right main_single_product">
			<div class="single_product">
				<div class="product_img">
					<%= image_tag 'product/tre-shirt-1.png' %>
				</div>
				<div class="product_text dark_product">
					<h1>DARK BLUE</h1>
				</div>
			</div>
		</div>
		<div class="padding_left main_single_product">
			<div class="single_product single_product_two">
				<div class="product_img">
          <%= image_tag 'product/tre-shirt-1.png' %>
				</div>
				<div class="product_text_two product_text">
					<h1>MEN'S TEE</h1>
					<p>100% COMBED COTTON</p>
					<p>COLOR: DARK BLUE</p>
					<p>ROUND NECK & HALF SLEEVES</p>
					<p>Classic fit, slightly long</p>
					<p>GSM: 180</p>
					<p>PRICE: $ 21.99</p>
					<a class="shop_now_btn" href="#">SHOP NOW</a>
				</div>
			</div>
		</div>
		<div class="padding_right main_single_product section-padding-top">
			<div class="single_product single_product_two">
				<div class="product_img tre_shirt_2">
					<%= image_tag 'product/tre-shirt-2.png' %>
				</div>
				<div class="product_text_two tre_shirt_2_text product_text">
					<h1>MEN'S TEE</h1>
					<p>100% COMBED COTTON</p>
					<p>COLOR: WHITE & BLACK</p>
					<p>ROUND NECK & HALF SLEEVES</p>
					<p>Classic fit, slightly long</p>
					<p>GSM: 180</p>
					<p>PRICE: $ 21.99</p>
					<a class="shop_now_btn" href="#">SHOP NOW</a>
				</div>
			</div>
		</div>
		<div class="padding_left main_single_product section-padding-top">
			<div class="single_product">
				<div class="product_img tre_shirt_2">
					<%= image_tag 'product/tre-shirt-2.png' %>
				</div>
				<div class="product_text dark_product">
					<h1>WHITE & BLACK</h1>
				</div>
			</div>
		</div>
		<div class="padding_right main_single_product section-padding-top">
			<div class="single_product">
				<div class="product_img tre_shirt_3">
					<%= image_tag 'product/tre-shirt-3.png' %>
				</div>
				<div class="product_text dark_product">
					<h1>GRAY WITH BLACK</h1>
				</div>
			</div>
		</div>
		<div class="padding_left main_single_product section-padding-top">
			<div class="single_product single_product_two">
				<div class="product_img tre_shirt_3">
					<%= image_tag 'product/tre-shirt-3.png' %>
				</div>
				<div class="product_text_two product_text">
					<h1>LADIES TEE</h1>
					<p>100% COMBED COTTON</p>
					<p>COLOR: GRAY WITH BLACK</p>
					<p>ROUND NECK & HALF SLEEVES</p>
					<p>Classic fit, slightly long</p>
					<p>GSM: 180</p>
					<p>PRICE: $ 31.99</p>
					<a class="shop_now_btn" href="#">SHOP NOW</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Product-Section-End  -->

  <!-- Choose-Section-Strat  -->
	<section class="choose_area section-padding">
		<div class="container">
			<div class="choose_area_text text-center">
				<div class="choose_title">
				<h2>WHY CHOOSE OUR TEES ?</h2>
				</div>
				<div class="choose_text">
					<i class="flaticon-lightbulbs"></i>
					<h5><a href="#">UNIQUE DESIGN</a></h5>
					<div class="text_p">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ab odio quas ipsam sed quo minima</p>
					</div>
				</div>
				<div class="choose_text choose_active">
					<i class="flaticon-sticker3"></i>
					<h5><a href="#">best quality</a></h5>
					<div class="text_p">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ab odio quas ipsam sed quo minima</p>
					</div>
				</div>
				<div class="choose_text">
					<i class="flaticon-tshirt17"></i>
					<h5><a href="#">COMFORTABLE TEES</a></h5>
					<div class="text_p">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ab odio quas ipsam sed quo minima</p>
					</div>
				</div>
			</div>
			<div class="choose_btn text-center">
				<a class="shop_now_btn" href="#">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Choose-Section-End  -->

  <!-- Review-Section-Strat  -->
	<section class="review_area section-padding">
		<div class="container">
			<div class="review_text text-center">
				<div class="review_title">
					<h2>CUSTOMER REVIEW</h2>
				</div>
				<div id="review_carousel_1" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators slider_indicators">
						<li data-target="#review_carousel_1" data-slide-to="0" class="active"></li>
						<li data-target="#review_carousel_1" data-slide-to="1"></li>
						<li data-target="#review_carousel_1" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="single_review">
								<img src="http://placehold.it/120x120">
								<h5><a href="#">Michelle Wilson</a></h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's</p>
								<div class="review_line"></div>
								<div class="review_icon">
									<i>“</i>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single_review">
								<img src="http://placehold.it/120x120">
								<h5><a href="#">Michelle Wilson</a></h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's</p>
								<div class="review_line"></div>
								<div class="review_icon">
									<i>“</i>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="single_review">
								<img src="http://placehold.it/120x120">
								<h5><a href="#">Michelle Wilson</a></h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's</p>
								<div class="review_line"></div>
								<div class="review_icon">
									<i>“</i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review-Section-End  -->

  <!-- Footer-Section-Start -->
  	<footer>
  		<div class="footer_top footer-padding">
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-12 col-sm-6">
  						<div class="newsletter">
  							<h4>Sign up for newSletter</h4>
  						</div>
  					</div>
  					<div class="col-sm-12 col-sm-6">
  						<div class="newsletter text-right">
  							<input class="news_input" type="text" value="" placeholder="Email Address"/>
  							<input class="subscribe_btn" type="button" value="subscribe"/>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="footer_middel footer-padding">
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-6 col-md-3">
  						<div class="footer_link address">
  							<p>Elixir fashion</p>
  							<ul>
  								<li><span>Addresss: </span>ipsum 125 Pall Mall, London, England</li>
  								<li><span>Phone: </span>(0123) 345 6789</li>
  								<li><span>Email: </span>info@domain.com</li>
  							</ul>
  						</div>
  						<div class="footer_icon">
  							<ul>
  								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  							</ul>
  						</div>
  					</div>
  					<div class="col-sm-6 col-md-3">
  						<div class="footer_link">
  							<p>My account</p>
  							<ul>
  								<li><a href="#">My Account</a></li>
  								<li><a href="cart.html">Shopping Cart</a></li>
  								<li><a href="#">My Wishlist</a></li>
  								<li><a href="#">My Credit Slip</a></li>
  								<li><a href="#">Account Information</a></li>
  							</ul>
  						</div>
  					</div>
  					<div class="col-sm-6 col-md-3">
  						<div class="footer_link res_mar">
  							<p>customer support</p>
  							<ul>
  								<li><a href="#">7/24 Hour Support</a></li>
  								<li><a href="#">Refound Policy</a></li>
  								<li><a href="#">Shipping Guide</a></li>
  								<li><a href="#">International Shipping</a></li>
  								<li><a href="#">Career</a></li>
  							</ul>
  						</div>
  					</div>
  					<div class="col-sm-6 col-md-3">
  						<div class="footer_link res_mar">
  							<p>information</p>
  							<ul>
  								<li><a href="#">About Our Shop</a></li>
  								<li><a href="#">Secure Shopping</a></li>
  								<li><a href="#">Delivery Information</a></li>
  								<li><a href="#">Company Site Map</a></li>
  								<li><a href="#">Privecy Policy</a></li>
  							</ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="footer_bottom footer-padding">
  			<div class="container">
  				<div class="row">
  					<div class="col-sm-6 col-xs-12">
  						<div class="copyright">
  							<p>Copyright 2015 <a href="http://designscrazed.org/">Allie</a> All rights reserved</p>
  						</div>
  					</div>
  					<div class="col-sm-6 col-xs-12">
  						<div class="copyright_icon text-right">
  							<a href="#"><%= image_tag 'footer/paypal-1.png' %></a>
  							<a href="#"><%= image_tag 'footer/paypal-2.png' %></a>
  							<a href="#"><%= image_tag 'footer/paypal-3.png' %></a>
  							<a href="#"><%= image_tag 'footer/paypal-4.png' %></a>
  							<a href="#"><%= image_tag 'footer/paypal-5.png' %></a>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</footer>
  	<!-- Footer-Section-End -->
