<%= form_for order_item, remote: true do |f| %>
<tr>
  <td>1</td>
  <td>
    <a href="#"><img alt="" class="img-responsive" src="images/cartpage/cart-product-1.png"></a>
  </td>
  <td>
    <h6><a href="#"><%= order_item.product.name %></a></h6>
  </td>
  <td>
    <%= f.number_field :quantity, value: order_item.quantity.to_i, min: 1, class: "quan_select" %>
    <%= f.hidden_field :product_id, value: product.id %>
  </td>
  <td>
    <div class="cart-price"><%= number_to_currency order_item.unit_price %></div>
  </td>
  <td>
    <div class="cart-subtotal"><%= number_to_currency order_item.total_price %></div>
  </td>
  <td><i class="fa fa-trash"></i></td>
</tr>
<% end %>
